
<div *ngIf="isUserLogged">
  <span *ngIf="isSameUser()">
    <button *ngIf="!onlyVisibleMode() && !isUserFriend()" mat-button (click)="addFriend()">
    Add Friend
  </button>
  <button *ngIf="!onlyVisibleMode() && isUserFriend()" mat-button (click)="removeFromFriends()">
    Remove from Friends
  </button>
  <button *ngIf="isUserLoggedAdmin() && !isProfileAlreadyAdmin()" mat-button (click)="updateUserRoles()">
    Make Admin
  </button>
  </span>
  <h2 class="title">{{profile?.name}}</h2>
  
  <div
    style="text-align: center;"
    fxLayout="row wrap"
    fxLayoutGap="32px"
    fxLayoutAlign="flex-start"
  >
    <div style="width: 25%;">
      <h4 class="second-title" style="text-align: center;">Favourite topics</h4>
      <app-favourite-topics></app-favourite-topics>
    </div>
    <div style="width: 48%;">
      <div *ngIf="hasError">
        <span>{{ message }}</span>
      </div>
      <main *ngIf="!hasError"></main>
      <div *ngFor="let item of allItems">
        <h4 style="text-align: left;">{{ item?.userName }}'s {{ item?.type }} on {{ item?.dateDisplay | date }}</h4>
        <p style="text-align: left;">{{ item?.content }} <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}" *ngIf="item.isLiked" style="float: right;">thumb_up</mat-icon></p>
      </div>
    </div>
  
    <div style="width: 20%;">
      <h4 class="second-title" style="text-align: center;">Friends</h4>
      <div *ngFor="let friend of profile?.friends">
        <span (click)="navigateToProfile(friend)" style="display: inline-block; margin-bottom: 20px;">{{ friend.name }}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isUserLogged" style="text-align: center; margin-top: 20%;">
   You must be logged to see this page.
</div>
