<div *ngIf="hasError">
  <span>{{ message }}</span>
</div>

<main *ngIf="!hasError"></main>
<h2 class="title">Create new topic</h2>

<div style="text-align: center; width: 30%; margin-left: 20%;">
  <ngx-smart-modal #myModal identifier="new-post-modal">
    <div>

      <div class="bubble">
        <img class="img" [src]="fullImagePath" height="50px" />
        <span class="smiley-name"> Mr Smiley </span>
      <p>{{ infoMessage }}</p>
    </div>
    </div>

    <button (click)="myModal.close()">Close</button>
  </ngx-smart-modal>
</div>

<div
  style="text-align: center;"
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <div style="width: 28%;">
    <h4 class="second-title" style="text-align: center;">Favourite topics</h4>
    <app-favourite-topics></app-favourite-topics>
  </div>
  <div style="width: 40%;">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Topic title</mat-label>
        <input
          matInput
          placeholder="My post"
          [(ngModel)]="name"
          [ngModelOptions]="{ standalone: true }"
          name="fieldName"
          ngDefaultControl
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Topic content</mat-label>
        <textarea
          matInput
          placeholder="My comment"
          [(ngModel)]="content"
          [ngModelOptions]="{ standalone: true }"
          name="fieldName"
          ngDefaultControl
        ></textarea>
      </mat-form-field>
    </form>

    <mat-form-field>
      <mat-label>Choose Category</mat-label>
      <mat-select [(value)]="category">
        <mat-option value="Animals">Animals</mat-option>
        <mat-option value="Fun">Fun</mat-option>
        <mat-option value="Games">Games</mat-option>
        <mat-option value="History">History</mat-option>
        <mat-option value="Math">Math</mat-option>
        <mat-option value="Music">Music</mat-option>
        <mat-option value="Other">Other</mat-option>
        <mat-option value="Plants">Plants</mat-option>
        <mat-option value="Telerik Academy">Telerik Academy</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button (click)="createPost()">
      Create new topic
    </button>
  </div>

  <div style="width: 23%;">
    <h4 class="second-title" style="text-align: center;">Most popular topics</h4>
    <app-most-popular-topics></app-most-popular-topics>
  </div>
</div>

<div style="margin-bottom: 170px;"></div>
