<div *ngIf="selectedUser" style="text-align: center; width: 30%; margin-left: 20%;">
  <ngx-smart-modal #myModal identifier="banned-user-modal">
    <div>
      <div class="bubble">
        <img class="img" [src]="fullImagePath" height="50px" />
        <span class="smiley-name"> Mr Smiley </span>
      <p>You banned {{selectedUser?.name}}</p>
    </div>
    </div>
    <button (click)="myModal.close()">Close</button>
  </ngx-smart-modal>
</div>

<!-- <div *ngIf="hasError">
  <span>{{ message }}</span>
</div>

<main *ngIf="!hasError"></main> -->

<mat-tab-group>
    <mat-tab label="Flagged topics">  
        <h4>Flagged topics</h4>
        <div *ngFor="let post of posts">
            {{ post?.user.name }}
            <p>{{post?.name}}</p>
            <button mat-button (click)="approvePost(post)">
                Approve
              </button>
              <button mat-button (click)="deletePost(post)">
                Delete
              </button>
        </div>

    </mat-tab>

    <mat-tab label="Ban user"> 
        <h4>Ban user</h4>
        <div *ngIf="selectedUser">{{selectedUser?.name}}</div>
        <div *ngIf="!selectedUser?.id">No user selected</div>
        <div>Ban for :
            <button mat-button (click)="banUser(selectedUser, 3)">
                3 days
              </button>
              <button mat-button (click)="banUser(selectedUser, 7)">
                1 week
              </button>
              <button mat-button (click)="banUser(selectedUser, 30)">
                1 month
              </button>
        </div>
        

          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input (keyup.enter)="getUsers()"matInput placeholder="Search user" [(ngModel)]="searchText" [ngModelOptions]="{ standalone: true }">
            </mat-form-field>
            <div *ngFor="let user of users">
              <span (click)="selectUser(user)">
                {{ user.name }}
              </span>
            </div>
          </form>
        
    </mat-tab>
  </mat-tab-group>
