
<div
  style="text-align: center;"
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <div style="width: 10%;">
  </div>
  <div style="width: 55%;">
    <h2 style="text-align: left;" class="title">Categories</h2>
  </div>
  
  <div style="width: 28%;">
    <div style="margin-top: 10px;">
      <app-mr-smiley></app-mr-smiley>
    </div>
    
  </div>
</div>


<div
  style="text-align: center;"
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <div style="width: 23%;">
    <h4 class="second-title">Favourite topics</h4>
    <app-favourite-topics></app-favourite-topics>
  </div>
  <div style="width: 48%;">
    <div style="display: flex; justify-content: space-between;">
      <app-card
        path="assets/images/animals.jpg"
        name="Animals"
        (click)="navigateCategory('Animals')"
      ></app-card>
      <app-card
        path="assets/images/fun.jpg"
        name="Fun"
        (click)="navigateCategory('Fun')"
      ></app-card>
      <app-card
        path="assets/images/games.jpg"
        name="Games"
        (click)="navigateCategory('Games')"
      ></app-card>
    </div>

    <div style="display: flex; justify-content: space-between;">
      <app-card
        path="assets/images/history.jpg"
        name="History"
        (click)="navigateCategory('History')"
      ></app-card>
      <app-card
        path="assets/images/math.jpg"
        name="Math"
        (click)="navigateCategory('Math')"
      ></app-card>
      <app-card
        path="assets/images/music.jpg"
        name="Music"
        (click)="navigateCategory('Music')"
      ></app-card>
    </div>

    <div style="display: flex; justify-content: space-between;">
      <app-card
        path="assets/images/other.jpg"
        name="Other"
        (click)="navigateCategory('Other')"
      ></app-card>
      <app-card
        path="assets/images/plants.jpg"
        name="Plants"
        (click)="navigateCategory('Plants')"
      ></app-card>
      <app-card
        path="assets/images/Telerik.jpg"
        name="Telerik Academy"
        (click)="navigateCategory('Telerik Academy')"
      ></app-card>
    </div>
  </div>

  <div style="width: 22%;">
    <h4 style="color:rgb(0,182,182)">Most popular topics</h4>
    <app-most-popular-topics></app-most-popular-topics>
  </div>
</div>
