<div style="text-align: center; margin-top: 100px;">
  <mat-grid-list cols="3" rowHeight="6rem">
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile [rowspan]="4" class="topic">
      <div>
        <p style="color: red;" *ngIf="loginError">
          Wrong username or password!
        </p>
        <p style="color: green;" *ngIf="loginSuccess">
          Login Successful!
        </p>
        <p>Please fill the form to log in...</p>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input
              #usernameInput
              matInput
              [formControl]="usernameFormControl"
              [errorStateMatcher]="matcher"
              placeholder="your username"
            />

            <mat-error *ngIf="usernameFormControl.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
        <p></p>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              type="password"
              #passwordInput
              matInput
              [formControl]="passwordFormControl"
              [errorStateMatcher]="matcher"
            />

            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

  <button mat-button
    type="button"
    (click)="this.login(usernameInput.value, passwordInput.value)"
  >
    Login
  </button>
</div>
