
<h2 class="title">Search results</h2>

<div
  style="text-align: center;"
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <div style="width: 20%;">
    <p class="second-title">Comments results</p>
    <div *ngIf="hasError">
      <span>{{ message }}</span>
  </div>
  
  <main *ngIf="!hasError"></main>
    <div *ngFor="let comment of comments">
      <p style="cursor: pointer;" [routerLink]="getUrl(comment?.singlePost)" >
          {{ comment?.content }}
        </p>
  </div>
  </div>
  <div style="width: 48%;">
    
    <p class="second-title">Topics results</p>
    
    <div *ngIf="hasError">
      <span>{{ message }}</span>
  </div>
  
  <main *ngIf="!hasError"></main>
    <div *ngFor="let post of posts">
      <p style="cursor: pointer;" [routerLink]="getUrl(post)" >
          {{ post?.name }}
        </p>
  </div>
  
  </div>

  <div style="width: 20%;">
    <p class="second-title">Users results</p>
    <div *ngIf="hasError">
      <span>{{ message }}</span>
  </div>
  
  <main *ngIf="!hasError"></main>
    <div *ngFor="let user of users">
      <p style="cursor: pointer;" [routerLink]="getUserUrl(user)" >
          {{ user?.name }}
        </p>
  </div>

</div>

<div style="margin-top: 300px;"></div>
