<div *ngIf="hasError">
  <span>{{ message }}</span>
</div>

<main *ngIf="!hasError"></main>

<div style="text-align: left;">
  <div class="most-popular-topic" *ngFor="let post of posts">
    <li [routerLink]="getUrl(post)">
      {{ post?.name }}
    </li>
  </div>
</div>
