<h2 class="title">Most popular Topics</h2>

<div style="text-align: left;" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <div style="width: 35%;">
        <app-mr-smiley></app-mr-smiley>
    </div>
    <div style="width: 55%;">
        
        <app-most-popular-topics></app-most-popular-topics>
    </div>
  
    <div style="width: 6%;">
       
     
    </div>
  
  </div>

  <div style="margin-bottom: 235px;"></div>

  







