
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea
      matInput
      placeholder="My comment..."
      (keyup.enter)="createComment()"
      [(ngModel)]="content"
      [ngModelOptions]="{standalone: true}"
    ></textarea>
  </mat-form-field>
</form>