<h2 class="title">Category : {{this.category}}</h2>

<div
  style="text-align: center;"
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <div style="width: 25%; text-align: left;" >
    Favourite topics
    <app-favourite-topics></app-favourite-topics>
  </div>
  <div style="width: 48%; text-align: left;">
    <div *ngIf="hasError">
      <span>{{ message }}</span>
  </div>
  
  <main *ngIf="!hasError"></main>
    <div style="display: flex; justify-content: space-between;">
      <div  style="text-align: left;">
        <div *ngFor="let post of posts">
          <li class="category-topic" [routerLink]="getUrl(post)">
            {{ post?.name }}
          </li>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 20%;">
    Most popular topics
    <app-most-popular-topics></app-most-popular-topics>
  </div>
</div>

