<h2 class="title">Admin</h2>

<div
  style="text-align: center;"
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <div style="width: 22%;">
    <h4 class="second-title" style="text-align: center;">Favourite topics</h4>
    <p></p>
    <app-favourite-topics></app-favourite-topics>
  </div>
  <div style="width: 48%;">
    <div style="display: flex; justify-content: space-between;">
      <app-admin-menu style="width: 100%;"></app-admin-menu>
    </div>
  </div>

  <div style="width: 23%;">
    <h4 class="second-title" style="text-align: center;">Most popular topics</h4>
    <p></p>
    <app-most-popular-topics></app-most-popular-topics>
  </div>
</div>

<div style="margin-bottom: 205px;"></div>

