/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-smart-modal/ngx-smart-modal.css";

body,
html {
  overflow-x: hidden;
  margin: 0 auto;
  font-family: "Bahnschrift Light",sans-serif;
}

.topic {
  border-left: 1px solid black; 
  border-right: 1px solid black;
  font-family: "Bahnschrift Light",sans-serif;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Bahnschrift Light",sans-serif;
  text-align: center;
}

.second-title {
color: rgb(0,182,182);
}