<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="content" style="cursor: pointer;" routerLink="/home"
        >Forum-a</span
      >
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <span *ngIf="this.isUserLogged">
          <input
            (keyup.enter)="search()"
            class="searchInput"
            type="search"
            placeholder="search..."
            [(ngModel)]="searchText"
          />
        </span>

        <a routerLink="/posts/new-post" *ngIf="this.isUserLogged && !isUserBanned()" mat-button>
          <mat-icon>add</mat-icon>
          Create topic
        </a>
        <a *ngIf="this.isUserLogged" [routerLink]="getUserUrl()" mat-button>
          <mat-icon>face</mat-icon>
          Profile
        </a>
        <a routerLink="/registration" mat-button *ngIf="!this.isUserLogged">
          <mat-icon>assignment</mat-icon>
          Sign in
        </a>
        <a routerLink="/login" mat-button *ngIf="!this.isUserLogged">
          <mat-icon>account_box</mat-icon>
          Login
        </a>
        <a (click)="onLogout()" mat-button *ngIf="this.isUserLogged">
          <mat-icon>account_box</mat-icon>
          Logout
        </a>
        <a routerLink="/admin" mat-button *ngIf="isUserLoggedAdmin()">
          <mat-icon>font_download</mat-icon>
          Admin
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
