
.mat-toolbar.mat-primary {
  background: rgb(0,182,182) !important;
  color: #fff;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.content {
  font-family: "Bahnschrift Light", sans-serif;
}

.searchInput {
  color: white;
  font-family: "Bahnschrift Light", sans-serif;
  background-color: rgb(0,182,182);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: ridge;
  width: 25%;
  margin-left: 150px;
}

.searchInput:focus{
  outline: none;
}
