.footer {
  /* position:fixed; */
  position: fixed;
  opacity: 0.5;
  bottom: 0;
  margin-top: 50px;
  left: 0px;
  /* bottom:0px; */
  height: 30px;
  width: 100%;
  background: rgb(0, 182, 182);
  overflow-x: hidden;
  margin-top: 100px;
}
