
p {
    position: relative;
    /* max-width: 20em; */
  
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
      0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
      font-family: "Bahnschrift Light",sans-serif;
      font-size: 14px;
  }
  
  p::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em;
    border: 0.75rem solid transparent;
    border-top: none;
  
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  }
  
  html {
      font-family: "Bahnschrift Light",sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #192229;
    background: linear-gradient(135deg, #f4f2f3, #bfc6d0);
  }
  
  html,
  body {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  body {
    padding: 0 2rem;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }