<div *ngIf="hasError">
  <span>{{ message }}</span>
</div>
<main *ngIf="!hasError"></main>

<div style="text-align: center; width: 30%; margin-left: 20%;">
  <ngx-smart-modal #myModal identifier="user-modal">
    <div>
      <div class="bubble">
        <img class="img" [src]="fullImagePath" height="50px" />
        <span class="smiley-name"> Mr Smiley </span>
      <p>{{infoMessage}}</p>
    </div>
    </div>
  </ngx-smart-modal>
</div>

<div style="float: right;" *ngIf="!onlyVisibleMode()">
  <a mat-button>
    <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}" *ngIf="isUserLoggedAdmin()" (click)="lockPost(post)"
    >lock</mat-icon
    >
  </a>
            <a mat-button>
              <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}"
                *ngIf="(isUserLogged && isOwnerofPost()) || isUserLoggedAdmin()"
                (click)="editPost(post)"
                >create</mat-icon
              >
            </a>
  <a mat-button>
    <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}"
      *ngIf="(isUserLogged && isOwnerofPost()) || isUserLoggedAdmin()"
      (click)="deletePost(post)"
      >delete</mat-icon
    >
  </a>

  <a style="cursor: pointer;" (click)="openPostModal(post)">{{
    post?.usersPostLikes.length
  }}</a>

  <a mat-button>
    <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}" *ngIf="isUserLogged" (click)="likePost(post)">thumb_up</mat-icon>
  </a>
  <a mat-button>
    <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}" *ngIf="isUserLogged" (click)="favouritePost(post)"
      >grade</mat-icon
    >
  </a>
  <a mat-button>
    <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}" *ngIf="isUserLogged" (click)="flagPost(post)">flag</mat-icon>
  </a>
</div>

<br />

<h2 class="title">
  <span *ngIf="!post?.inEditMode">
    {{ post?.name }}
    <span style="display: block; color: red;" *ngIf="post?.isLocked">
      Post has been locked by admin.
    </span>
  </span>
  <input
    *ngIf="post?.inEditMode"
    type="text"
    (keyup.enter)="savePost(post)"
    [(ngModel)]="post.name"
  />
</h2>
<h4 style="text-align: center;">{{ 'by  ' + post?.user.name }}</h4>

<div style="text-align: center; width: 30%; margin-left: 20%;">
  <ngx-smart-modal #myModal identifier="comment-likes-modal">
    <div *ngFor="let user of modalUsersCommentsLikes">
      <h4>{{ user.name }}</h4>
    </div>
  </ngx-smart-modal>
</div>

<div style="text-align: center; width: 30%; margin-left: 20%;">
  <ngx-smart-modal #myModal identifier="post-likes-modal">
    <div *ngFor="let user of modalUsersPostLikes">
      <h4>{{ user.name }}</h4>
    </div>
  </ngx-smart-modal>
</div>

<div
  style="text-align: left;"
  fxLayout="row wrap"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <div style="width: 23%;">
    <h4 class="second-title" style="text-align: center;">Favourite topics</h4>
    <app-favourite-topics *ngIf="isUserLogged"
      [updateFavorites]="updateFavorites.asObservable()"
    ></app-favourite-topics>
  </div>
  <div style="width: 48%;">
    <div>
      <span>{{ post?.user.name }}</span>
      <div *ngIf="hasError">
        <span>{{ message }}</span>
      </div>
      <main *ngIf="!hasError"></main>
      <p>{{ post?.content }}</p>
      <div *ngFor="let comment of post?.comments">
        <div style="margin-bottom: 35px;" *ngIf="comment.isdeleted">
          <i>Comment Is Deleted</i>
        </div>
        <div style="margin-bottom: 35px;" *ngIf="!comment.isdeleted">
          {{ comment.user.name }}
          <div style="display: inline; float: right;">
            <a *ngIf="!onlyVisibleMode()" mat-button>
              <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}"
                *ngIf="
                  (isUserLogged && isOwnerofComment(comment)) ||
                  isUserLoggedAdmin()
                "
                (click)="editComment(comment)"
                >create</mat-icon
              >
            </a>
            <a *ngIf="!onlyVisibleMode()" mat-button>
              <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}"
                *ngIf="
                  (isUserLogged && isOwnerofComment(comment)) ||
                  isUserLoggedAdmin()
                "
                (click)="deleteComment(comment)"
                >delete</mat-icon
              >
            </a>
            <a *ngIf="!onlyVisibleMode()" style="cursor: pointer;" (click)="openCommentModal(comment)">{{
              comment?.usersLikes.length
            }}</a>
            <a *ngIf="!onlyVisibleMode()" mat-button>
              <mat-icon [ngStyle]="{'color':'rgb(0,182,182)'}" (click)="likeComment(comment)">thumb_up</mat-icon>
            </a>
          </div>
          <p>
            <span *ngIf="!comment.inEditMode">
              {{ comment.content }}
            </span>
            <input
              *ngIf="comment?.inEditMode"
              type="text"
              (keyup.enter)="saveComment(comment)"
              [(ngModel)]="comment.content"
            />
          </p>
        </div>
      </div>
      <app-new-comment
        *ngIf="!onlyVisibleMode() && isUserLogged"
        [postId]="postId"
        (commentCreated)="createComment($event)"
      ></app-new-comment>
    </div>
  </div>

  <div style="width: 22%;">
    <h4 class="second-title" style="text-align: center;">Most popular topics</h4>
    <app-most-popular-topics *ngIf="isUserLogged"></app-most-popular-topics>
  </div>
</div>
