<div style="text-align: center; margin-top: 100px;">
  <mat-grid-list cols="3" rowHeight="6rem">
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile [rowspan]="4" class="topic">
      <div>
        <p *ngIf="signInSuccess" style="color: green;">You have successfuly signed in!</p>
        <p *ngIf="signInError" style="color: red;">{{ signInError }}</p>
        <p>Please fill the form to sign in...</p>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input
              #usernameInput
              matInput
              [formControl]="usernameFormControl"
              [errorStateMatcher]="matcher"
              placeholder="your username"
            />
            <mat-hint>Username must be between 2 and 20 characters!</mat-hint>
            <mat-error
              *ngIf="
            usernameFormControl.errors?.minlength ||
            usernameFormControl.errors?.maxlength
          "
            >
              Username must be between 2 and 20 characters!
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
        <p></p>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              type="password"
              #passwordInput
              matInput
              [formControl]="passwordFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-hint
              >The password must be minimum five characters, at least five
              letters and one number!</mat-hint
            >
            <mat-error
              *ngIf="
          passwordFormControl.errors?.minlength 
          "
            >
              Please enter a valid password
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  <button mat-button
    type="button"
    (click)="this.register(usernameInput.value, passwordInput.value)"
  >
    Sign in
  </button>
</div>
